.sa-borde{
  border: black solid 1px;
  width: 100%;
}
.sa-centrar{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.sa-btn{
  background: cornflowerblue;
  width: 100%;
  height: 200%;
}
.sa-btn1{
  background: cornflowerblue;
  width: 65%;
  height: 200%;
}
.hoja{
  font-family: Arial;
}

h1{
  font-size:3vw;
}

h2{
  font-size:2.5vw;
}

h3{
  font-size:2.1vw;
}

h4{
  font-size:1.8vw;
}

h5{
  font-size:1.5vw;
}

p{
  font-size:1.2vw;
}
