.sa-borde{
  border: black solid 1px;
  width: 100%;
}
.sa-btn{
  background: cornflowerblue;
  width: 200px;
  height: 50px;
}
.sa-btnimg{
  width:70%;
  height:100%;
}
.sa-img{
  height:auto;
  width:100%;
}
