<div class="row" style="background-color: midnightblue">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <img style="height: 100% ;width: 100%" src="imagenes/inicio/logo.png">
    </div>
    <div class="col-4"></div>
  </div>
</div>

<!--Cabecera-->
<div class="row"  style="background-color: aliceblue">
  <div class="col-3" style="background-color: aliceblue">
    <div class="row" style="background-color: aliceblue">
      <div class="col-4"></div><h5>PRUEBA</h5></div>
    <!--Prueba Inicial-->
    <mat-accordion>
    <mat-expansion-panel (opened)="panel2 = true"
                         (closed)="panel2 = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Prueba Inicial</b>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <p>Exclusiva para los estudiantes que ingresan a primero de básica </p>
      </div>
      <div class="row">
        <button (click)="iniciarTest()" mat-flat-button style="background-color: #66CC44 ;width: 100% "><p>Comenzar Prueba</p></button>
      </div>
    </mat-expansion-panel>
    </mat-accordion>
    <!--Prueba Final-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panel2 = true"
                           (closed)="panel2 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Prueba Final</b>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <p>Exclusiva para los estudiantes que terminan el primero de básica </p>
        </div>
        <div class="row">
          <button (click)="iniciarReTest()" mat-flat-button style="background-color: greenyellow ;width: 100% ; height: 100% "><p>Comenzar Prueba</p></button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <div class="row" style="background-color: aliceblue">
      <div class="col-4"></div><h5>ESTADÍSTICA</h5></div>
    <!--Estadisticas Prueba inicial-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panel5 = true"
                           (closed)="panel5 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Estadísticas Prueba Inicial</b>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Seleccione el año lectivo</p>
        <button  mat-button (click)="irEstadisticas('0',anio1,'Inicial')" *ngFor="let anio1 of anioLectivo" style="background-color: #66CC44  ; width: 45%"><p>{{anio1}}</p></button>

      </mat-expansion-panel>
    </mat-accordion>
    <!--Estadisticas prueba final-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panel6 = true"
                           (closed)="panel6 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Estadísticas Prueba Final</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Seleccione el año lectivo y el paralelo</p>
        <button mat-button [matMenuTriggerFor] = "estadisticas" (click)="getAnio(anio)" *ngFor="let anio of anioLectivo" style="background-color: greenyellow  ; width: 45%"><p>{{anio}}</p></button>
        <mat-menu #estadisticas="matMenu">
          <button mat-menu-item  *ngFor="let curso of cursos"  (click)="irEstadisticas('1',anio,curso)"  >Paralelo {{curso}}</button>
        </mat-menu>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <div class="row" style="background-color: white"><br></div>
    <div class="row" style="background-color: aliceblue">
      <div class="col-4"></div><h5>PRUEBA LIBRE</h5></div>
    <!--Prueba Libre-->
    <mat-accordion>
      <mat-expansion-panel (opened)="panel2 = true"
                           (closed)="panel2 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Prueba Libre</b>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <p>Se aplica a estudiantes de primero a séptimo de básica </p>
        </div>
        <div class="row">
          <button (click)="iniciarFreeTest()" mat-flat-button style="background-color: yellow ;width: 100% ; height: 100% "><p>Comenzar Prueba</p></button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel (opened)="panel2 = true"
                           (closed)="panel2 = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Lista de Estudiantes</b>
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <p>Seleccione el año lectivo </p>
        </div>
        <div class="row">
          <button  mat-button (click)="irEstadisticasLibre('2',anio1)" *ngFor="let anio1 of anioLectivo" style="background-color: yellow  ; width: 45%"><p>{{anio1}}</p></button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
  <div class="col-9">
    <div class="row">
      <ngb-carousel *ngIf="images" style="width: 100%">
        <ng-template ngbSlide>
          <img [src]="images[0]" style="width: 100%" alt="Objetivo General">
          <div class="carousel-caption">
            <!--<h3>Objetivo General</h3>-->
            <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[1]"  style="width: 100%" alt="Objetivos Especificos">
          <div class="carousel-caption">
            <!--<h3>Objetivos Especificos</h3>-->
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img [src]="images[2]" style="width: 100%" alt="Utilidad">
          <div class="carousel-caption">
            <!--<h3>Objetivos Especificos</h3>-->
            <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>


<footer style="background-color: dimgray">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <h3 style="color: white">Objetivo</h3>
      <p style="color: white">El objetivo general de la prueba de Funciones Básicas es
        diagnosticar el nivel en el que se encuentran las Funciones Básicas indispensables para
        el aprendizaje de la lectoescritura</p>
    </div>
    <div class="col-2">
      <h3 style="color: white">Recursos</h3>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="row">
            <a style="color: aqua" href={{cuadernillo[0]}}>
              Cuadernillo
            </a>
          </div>
          <div class="row">

            <a style="color: aqua" href={{cuadernillo[1]}}>
              Manual
            </a>
          </div>
          <div class="row">

            <a style="color: aqua" href={{cuadernillo[2]}}>
              Ayuda
            </a>
          </div>
        </div>
      </div>


    </div>
    <div class="col-3">
      <h3 style="color: white">Contáctanos</h3>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <p style="color: white">tania.gallardo@epn.edu.ec</p>
          <p style="color: white">jonathan.paez@epn.edu.ec</p>
        </div>

      </div>
    </div>
  </div>
</footer>
