.sa-centrar{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-size:2.8vw;
}

h2{
  font-size:2.5vw;
}

h3{
  font-size:2.1vw;
}

h4{
  font-size:1.8vw;
}

h5{
  font-size:1.5vw;
}

h6{
  font-size:1.4vw;
}

p{
  text-align: justify;
  font-size:1.2vw;
}
b{
  font-size:1.2vw;
}
a{
  font-size:1.2vw;
}
