<div class="row">
  <div class="col-3 sa-columna">
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <img src="imagenes/logo2.jpg" style=" width: 100%;height: 100%" >
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <p>Nombre Pendiente</p>
      </div>
      <div class="col-3"></div>
    </div>
    <div class="row"><p></p></div><div class="row"><p></p></div>


    <div class="row"><button style="width: 100%; height: 50px; " [routerLink]="['/ingresarDatos']">Prueba Nueva</button></div>
    <div class="row"><p></p></div><div class="row"><p></p></div>


    <div class="row"><button style="width: 100% ; height: 50px">Paralelos</button></div>
    <div class="row"><p></p></div><div class="row"><p></p></div>


    <div class="row"><button style="width: 100% ; height: 50px">Administracion Cuentas</button></div>

    <div class="row"><p></p></div><div class="row"><p></p></div>


    <div class="row"><button style="width: 100% ; height: 50px">Cerrar Secion</button></div>

  </div>

  <div class="col-9">
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row">

      <div class="col-3">
        <img src="imagenes/logo1.png">
      </div>
      <div class="col-5"></div>
      <div class="col-3">
        <img src="imagenes/logo3.png" width="170" height="90">
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8"> <h1>PRUEBA DE FUNCIONES BÁSICAS</h1></div>
    </div>

    <div class="row">
      <div>
        <h2>Objetivo General
        </h2>
      </div>
    </div>
    <div class="row">
      <div>
        <h5>Diagnosticar el nivel en el que se encuentran las funciones básicas indispensables para
          el aprendizaje de la lectoescritura de los estudiantes del Programa.
        </h5>
      </div>
    </div>

    <div class="row">
      <div>
        <h2>Objetivos específicos

        </h2>
      </div>
    </div>
    <div class="row">
      <div>
        <h5>Diagnosticar el estado de las funciones Básicas de los estudiantes que ingresan por
          primera vez a la escuela.
          Identificar a estudiantes que no adquirieron la lectoescritura en el proceso escolar.
          Establecer los tipos de dificultades que presentan los estudiantes en lectura y
          escritura
        </h5>
      </div>
    </div>
    <div class="row">
      <div>
        <h2>Utilidad
        </h2>
      </div>
    </div>
    <div class="row">
      <div>
        <h5>Esta prueba detecta con exactitud la situación de las áreas perceptivo-motrices que
          determinan el aprendizaje de la lectura y la escritura
        </h5>
      </div>
    </div>

    <div class="row">
      <div>
        <h2>Características
        </h2>
      </div>
    </div>

    <div class="row">
      <div>
        <ul>
          <li><h5>Esta prueba es individual</h5></li>
          <li><h5>El tiempo de aplicación es libre.</h5></li>
          <li><h5>No requiere que los estudiantes sepan leer o escribir</h5></li>
          <li><h5>Esta prueba examina diecisiete áreas.</h5></li>
          <li><h5>Puede ser aplicada a todos los estudiantes para conocer la condición de las
            funciones básicas previas para el aprendizaje de la lectura y escritura o identificar
            las mayores dificultades en algunos estudiantes en este campo.</h5></li>
          <li><h5>Se puede volver a repetir la pregunta. </h5></li>
          <li><h5>Esta prueba al identificar una o varias destrezas no fortalecidas permite crear
            actividades para desarrollar estas áreas</h5></li>
          <li><h5>Es recomendable que todas las áreas se encuentren afianzadas para un adecuado
            aprendizaje y desarrollo de la lectura y escritura.</h5></li>

        </ul>
      </div>
    </div>

  </div>
</div>
