<div class="row">
  <div class="col-sm-12">
    <img src={{imagenCabecera}} style="height: auto;width: 100%" >
  </div>
</div>
<!--Diagnsotico><!-->
<div class="row" *ngIf="mostrarDiagnostico">
  <div class="col-1"><p></p></div>
  <div class="col-10 sa-borde">
    <p>{{queDiagnostica}}</p>
  </div>
</div>

<!--Preguntas><!-->
<div class="row" *ngIf="mostrarPreguntas"><br><br></div>
<div class="row" *ngIf="mostrarPreguntas">
  <div class="col-10 sa-centrar">
    <h3>{{valor+1}}. {{instruccion}}</h3>
  </div>
  <div class="col-2 sa-centrar">{{preguntas[valor]}}</div>
</div>

<div class="row" *ngIf="mostrarPreguntas"><br></div>
<div class="row" *ngIf="mostrarPreguntas">
  <div class="col-2"></div>
  <div class="col-3 sa-centrar">
    <video src="{{audio[valor]}}"  width="100%" height="100%" controls autoplay >
      <p>{{errorAudio}}</p>
    </video>
  </div>
  <div class="col-2"></div>
</div>
<div class="row sa-centrar" *ngIf="mostrarPreguntas">
  <div class="col-1"></div>
  <div class="col-10 sa-centrar">
    {{preguntas[valor]}}
  </div>
  <div class="col-1"></div>
</div>


<div class="row" *ngIf="mostrarBoton">
  <div class="col-2"></div>
  <div class="col-8 sa-borde">
    <h5>Nota:</h5>
    <p>{{explicacionBotonVerde}}</p>
  </div>
  <div class="col-2"></div>
</div>
<div class="row" *ngIf="mostrarBoton"><br></div>

<div class="row" *ngIf="mostrarPreguntas">
  <div class="col-4" *ngIf="!mostrarBoton"><p></p></div>
  <div class="col-3" *ngIf="mostrarBoton"><p></p></div>
  <div class="col-2">
    <button class="sa-btn" (click)="siguientePregunta(1)">Positivo</button>
  </div>
  <div class="col-2" *ngIf="mostrarBoton">
    <button class="sa-btn2" (click)="considerarPositivo()">Area Positiva</button>
  </div>
  <div class="col-3">
    <button class="sa-btn1" (click)="siguientePregunta(0)">Negativo</button>
  </div>
</div>

<!--Respuestas><!-->
<div class="row" *ngIf="!mostrarPreguntas">
  <div class="col-1"></div>
  <div class="col-4">
    <h2>Resultado</h2>
  </div>
</div>
<div class="row" *ngIf="!mostrarPreguntas"><br></div>
<div class="row" *ngIf="!mostrarPreguntas">
  <div class="col-4"></div>
  <div class="col-3">
    <h3>Preguntas</h3>
    <ul>
      <li *ngFor="let question of preguntas" style="font-size:1.2vw;">
        {{ question }}
      </li>
    </ul>
  </div>
  <div class="col-2">
    <h3>Respuestas</h3>
    <ul>
      <li *ngFor="let resp of respuesta" style="font-size:1.2vw;">
        {{ resp }}
      </li>
    </ul>
  </div>
</div>

<div class="row" *ngIf="!mostrarPreguntas"><br><br></div>
<div class="row" *ngIf="!mostrarPreguntas">
  <div class="sa-centrar" style="font-weight: bold" *ngIf="mostrarAreaPositiva">
    <h5>{{areaPositiva}}</h5>
  </div>
  <div class="sa-centrar" style="font-weight: bold" *ngIf="!mostrarAreaPositiva">
    <h5>{{areaDebilitada}}</h5>
  </div>
</div>

<div class="row" *ngIf="!mostrarPreguntas">
  <div class="col-10"><p></p></div>
  <div class="col-2">
    <button class="sa-btn" [routerLink]="['/areaTrece']">Siguiente</button>
  </div>
</div>
