.sa-imagen-fondo{
  background-image: url("imagenes/silla.jpg") ;

  background-repeat: no-repeat, repeat;

  background-size: cover;
  background-position: 100% 100%;
  background-size: 100% 100%;

}
.sa-borde{
  border: black solid 1px;
  width: 100%;
}
.sa-btn{
  background: cornflowerblue;
  width:100% ;
  height: 200%;
}

h2{
  font-size:2.5vw;
}

h3{
  font-size:2.1vw;
}

h5{
  font-size:1.5vw;
}

p{
  font-size:1.2vw;
}
