.sa-borde {
  border: black solid 1px;
  width: 100%;
}

.sa-centrar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sa-btn {
  background: cornflowerblue;
  width: 100%;
  height: 200%;
}

.sa-btn1 {
  background: cornflowerblue;
  width: 65%;
  height: 200%;
}

.hoja {
  font-family: Arial;
}

.estilo1 {
  width: 5%;
}

.estilo2 {
  width: 50%;
}

.estilo3 {
  width: 3%;
}

.estilo4{
  width: 10%;
}

h1{
  font-size:3vw;
}

h2{
  font-size:2.5vw;
}

h3{
  font-size:2.1vw;
}

h4{
  font-size:1.8vw;
}

h5{
  font-size:1.5vw;
}

p{
  font-size:1.2vw;
}

table {
  width: 100%;
}

.example-first-header-row th {
  border-bottom: none;
}

.example-second-header-row {
  border-bottom: none;
}

.sa-superior{
  background: cornflowerblue;
  border: black 2px groove;
}



.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('imagenes/estadisticas/2.png');
  background-size: cover;
}
.example-header-image2 {
  background-image: url('imagenes/estadisticas/3.png');
  background-size: cover;
}
.example-header-image3 {
  background-image: url('imagenes/estadisticas/4.png');
  background-size: cover;
}
