<!--Cabecera-->
<div class="row" *ngIf="mostrarCabecera">
  <div class="row">
    <div class="col-sm-12">
      <img src="{{cabecera}}" style="height: auto;width: 100%">
    </div>
  </div>
</div>

<div class="row" *ngIf="mostrarPantallaPrincipal">
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Evaluación individual</mat-card-title>
        <mat-card-subtitle>de todos los estudiantes</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src='imagenes/estadisticas/5.png' alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Nos da una evaluación individual de todos los estudiantes. Para su elaboración se
          enlista a los alumnos y se ubica las áreas positivas y negativas permitiéndonos
          identificar que áreas hay que fortalecer en ese estudiante.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="verCuadro1()">Ver Cuadro</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image2"></div>
        <mat-card-title> ERRORES GRUPALES FRECUENTES</mat-card-title>
        <mat-card-subtitle>perfil colectivo</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src='imagenes/estadisticas/6.png' alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Proporciona un perfil colectivo de la situación en cada área medida. Para su elaboración
          se toman los porcentajes de errores de cada área del Cuadro No. 1 y se ubica en un plano
          cartesiano. El resultado de este ejercicio permite identificar en qué nivel se encuentran las áreas en
          relación al
          grupo de estudiantes.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button id="verGraf" (click)="verGrafico1()" mat-button>Ver Grafico</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image3"></div>
        <mat-card-title> Grupos de trabajo</mat-card-title>
        <mat-card-subtitle>Ordenado de mayor a menor</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src='imagenes/estadisticas/7.png' alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Permite formar grupos de trabajo. Para su elaboración ordenamos el grupo de mayor a
          menor error, luego restamos el menor error del mayor, el producto dividimos para tres
          (número de grupos a formarse).
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="verCuadro2()" mat-button>Ver Cuadro</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!--Codigo Cuadro 1-->
<div class="row hoja" *ngIf="mostrarCuadro1"><br></div>
<div class="row hoja" *ngIf="mostrarCuadro1">
  <div class="col-1"></div>
  <div class="col-1 sa-centrar">
    <br>
    <img src={{imagenCabecera}} style="height: auto;width: 120%">
  </div>
  <div class="col-9 sa-centrar">
    <h4>{{cabecera1}}</h4>
    <br>
    <h4>{{cabecera2}} {{identificador2}}</h4>
    <br>
    <h4>{{cabecera3}}</h4>
    <br>
    <h4 *ngIf="mostrarParalelo">{{cabecera4}} {{identificador3}}</h4>
  </div>
  <div class="col-1"></div>
</div>
<div class="row hoja" *ngIf="mostrarCuadro1">
  <div class="col-1"><br></div>
  <div class="col-10">
    <h4>{{subtitulos[0]}}</h4>
  </div>
</div>
<div class="row hoja" *ngIf="mostrarCuadro1">
  <div class="row"><br></div>
  <div class="row"><br></div>
  <div class="col-1"></div>
  <div class="col-10">
    <div class="row">
      <table mat-table [dataSource]="listaGeneralEstudiantes" class="mat-elevation-z8" multiTemplateDataRows
             id="Cuadro1">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell *matCellDef="let element" (click)="irFormulario(element._id)"> {{element.nombreEstudiante}}</td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef> Total Aciertos<br>Total Errores</td>
        </ng-container>

        <!-- Area Column -->
        <ng-container matColumnDef="area1">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar" colspan="18"> ÁREAS EXAMINADAS</th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area1Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[0]}}<br>{{totalAreasDebilitadasColumna[0]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area2">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar" colspan=2>TOTAL</th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area2Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[1]}}<br>{{totalAreasDebilitadasColumna[1]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area3">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area3Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[2]}}<br>{{totalAreasDebilitadasColumna[2]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area4">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area4Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[3]}}<br>{{totalAreasDebilitadasColumna[3]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area5">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area5Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[4]}}<br>{{totalAreasDebilitadasColumna[4]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area6">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area6Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[5]}}<br>{{totalAreasDebilitadasColumna[5]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area7">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area7total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[6]}}<br>{{totalAreasDebilitadasColumna[6]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area8">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area8total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[7]}}<br>{{totalAreasDebilitadasColumna[7]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area9">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area9Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[8]}}<br>{{totalAreasDebilitadasColumna[8]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area10">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area10total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[9]}}<br>{{totalAreasDebilitadasColumna[9]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area11">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area11total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[10]}}<br>{{totalAreasDebilitadasColumna[10]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area12">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area12total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[11]}}<br>{{totalAreasDebilitadasColumna[11]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area13">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area13Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[12]}}<br>{{totalAreasDebilitadasColumna[12]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area14">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area14total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[13]}}<br>{{totalAreasDebilitadasColumna[13]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area15">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area15Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[14]}}<br>{{totalAreasDebilitadasColumna[14]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area16">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area16Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[15]}}<br>{{totalAreasDebilitadasColumna[15]}}
          </td>
        </ng-container>
        <ng-container matColumnDef="area17">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">
            {{transformacionPositivoNegativo(element.area17Total)}}
          </td>
          <td mat-footer-cell class="sa-centrar" *matFooterCellDef>{{any.length - totalAreasDebilitadasColumna[16]}}<br>{{totalAreasDebilitadasColumna[16]}}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalAciertos">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element"> {{17 - element.totalAreasDebilitadas}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="totalErrores">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"></th>
          <td mat-cell class="sa-centrar" *matCellDef="let element"> {{element.totalAreasDebilitadas}}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="1">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> NÓMINA</th>
        </ng-container>
        <ng-container matColumnDef="2">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> I</th>
        </ng-container>
        <ng-container matColumnDef="3">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> II</th>
        </ng-container>
        <ng-container matColumnDef="4">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> III</th>
        </ng-container>
        <ng-container matColumnDef="5">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> IV</th>
        </ng-container>
        <ng-container matColumnDef="6">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> V</th>
        </ng-container>
        <ng-container matColumnDef="7">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> VI</th>
        </ng-container>
        <ng-container matColumnDef="area">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> VII</th>
        </ng-container>
        <ng-container matColumnDef="9">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> VIII</th>
        </ng-container>
        <ng-container matColumnDef="areaExa">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> IX</th>
        </ng-container>
        <ng-container matColumnDef="10">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> X</th>
        </ng-container>
        <ng-container matColumnDef="11">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> XI</th>
        </ng-container>
        <ng-container matColumnDef="12">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> XII</th>
        </ng-container>
        <ng-container matColumnDef="13">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> XIII</th>
        </ng-container>
        <ng-container matColumnDef="14">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> XIV</th>
        </ng-container>
        <ng-container matColumnDef="15">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> XV</th>
        </ng-container>
        <ng-container matColumnDef="16">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> XVI</th>
        </ng-container>
        <ng-container matColumnDef="17">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> XVII</th>
        </ng-container>
        <ng-container matColumnDef="18">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> ACIERTOS</th>
        </ng-container>
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar"> ERRORES</th>
        </ng-container>

        <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
        <tr mat-header-row *matHeaderRowDef="columnasCuadro1" class="example-first-header-row"></tr>

        <tr mat-header-row style="font-weight: bold;" *matHeaderRowDef="['1', '2', '3', '4', '5', '6', '7',
          'area', '9', 'areaExa', '10', '11', '12', '13', '14', '15', '16', '17', '18', 'total']">
        </tr>
        <tr mat-footer-row style="font-weight: bold;" *matFooterRowDef="columnasCuadro1"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasCuadro1;"></tr>
      </table>
    </div>
  </div>
</div>
<div class="row hoja" *ngIf="mostrarCuadro1">
  <div class="row"><br></div>
</div>

<!--Codigo Grafico 1-->
<div class="row" *ngIf="mostrarGrafico1"><br></div>
<div class="row" *ngIf="mostrarGrafico1">
  <div class="col-1"></div>
  <div class="col-1 sa-centrar">
    <br>
    <img src={{imagenCabecera}} style="height: auto;width: 120%">
  </div>
  <div class="col-9 sa-centrar">
    <h4>{{cabecera1}}</h4>
    <br>
    <h4>{{cabecera2}} {{identificador2}}</h4>
    <br>
    <h4>{{cabecera3}}</h4>
    <br>
    <h4 *ngIf="mostrarParalelo">{{cabecera4}} {{identificador3}}</h4>
  </div>
  <div class="col-1"></div>

</div>
<div class="row hoja" *ngIf="mostrarGrafico1">
  <div class="col-1"><br></div>
  <div class="col-10">
    <h4>{{subtitulos[1]}}</h4>
  </div>
</div>
<div class="row hoja" *ngIf="mostrarGrafico1">
  <div class="col-1"></div>
  <div class="col-10">
    <p-chart type="bar"
             [data]="datosGrafico"
             [options]="opcionesGrafico">
    </p-chart>
  </div>
  <div class="col-1"></div>
</div>
<div class="row hoja" *ngIf="mostrarGrafico1">
  <div class="row"><br></div>
</div>

<!--Codigo Cuadro 2-->
<div class="row hoja" *ngIf="mostrarCuadro2"><br></div>
<div class="row" *ngIf="mostrarCuadro2">
  <div class="col-1"></div>
  <div class="col-1 sa-centrar">
    <br>
    <img src={{imagenCabecera}} style="height: auto;width: 120%">
  </div>
  <div class="col-9 sa-centrar">
    <h4>{{cabecera1}}</h4>
    <br>
    <h4>{{cabecera2}} {{identificador2}}</h4>
    <br>
    <h4>{{cabecera3}}</h4>
    <br>
    <h4 *ngIf="mostrarParalelo">{{cabecera4}} {{identificador3}}</h4>
  </div>
  <div class="col-1"></div>
</div>
<div class="row hoja" *ngIf="mostrarCuadro2">
  <div class="col-1"><br></div>
  <div class="col-10">
    <h4>{{subtitulos[2]}}</h4>
  </div>
</div>
<div class="row hoja" *ngIf="mostrarCuadro2">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="row">
      <table mat-table [dataSource]="datosOrdenados" class="mat-elevation-z8" id="Cuadro2">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar">NÓMINA</th>
          <td mat-cell *matCellDef="let element"> {{element.nombreEstudiante}}</td>
        </ng-container>

        <!-- Errores -->
        <ng-container matColumnDef="totalErrores">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar">ERRORES</th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">{{element.totalAreasDebilitadas}}</td>
        </ng-container>

        <!-- Grupos -->
        <ng-container matColumnDef="grupo">
          <th mat-header-cell *matHeaderCellDef class="sa-centrar">GRUPOS</th>
          <td mat-cell class="sa-centrar" *matCellDef="let element">{{definirGrupos(element.totalAreasDebilitadas)}}
          </td>
        </ng-container>

        <ng-container matColumnDef="disclaimer">
          <td mat-footer-cell *matFooterCellDef colspan="4">
            <br>
            {{descripcionGruposCuadro2[valor]}}: {{descripcionGruposCuadro2[valor+1]}}.
            <br>
            {{descripcionGruposCuadro2[valor+2]}}: {{descripcionGruposCuadro2[valor+3]}}.
            <br>
            {{descripcionGruposCuadro2[valor+4]}}: {{descripcionGruposCuadro2[valor+5]}}.
            <br>
            <br>
          </td>
        </ng-container>

        <!-- The table will render two header rows, one data row per data object, and two footer rows. -->
        <tr mat-header-row *matHeaderRowDef="columnasCuadro2">
        </tr>
        <tr mat-footer-row *matFooterRowDef="['disclaimer']"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasCuadro2;"></tr>
      </table>
    </div>
  </div>
</div>
<div class="row hoja" *ngIf="mostrarCuadro2">
  <div class="row"><br></div>
</div>


<!--boton Regresar-->
<div class="row" *ngIf="mostrarBotonRegresar">
  <div class="col-1"></div>
  <div class="col-1">
    <div class="row">
      <button mat-flat-button (click)="imprimir()" style="background-color: transparent ;width: 25% ; height: 200% ">
        <img src="{{botonImprimir}}" style="height: 100%;width: 100%"></button>
    </div>
  </div>
  <div class="col-2">
    <div class="row">
      <button mat-flat-button (click)="regresar()" style="background-color: transparent ;width: 100% ; height: 100% ">
        >Revisar Estadisticas
      </button>
    </div>
  </div>

</div>
