<div class="row">
  <div class="col-sm-12">
    <img src="imagenes/CabeceraAreaOcho.png" style="height: auto;width: 100%" >
  </div>
</div>

<div class="row" *ngIf="mostrarCriterio">
  <div class="col-1"><p></p></div>
  <div class="col-10 sa-borde"><p>{{criterio}}</p></div>
</div>
<div class="row" *ngIf="mostrarCriterio"><p></p></div>
<div class="row" *ngIf="mostrarCriterio">
  <div class="col-5"><p></p></div>
  <div class="col-7 "><p>Yo te nombro un objeto y tú responderás con mímica o señas</p></div>
</div>
<div class="row" *ngIf="mostrarCriterio"><p></p></div>
<div class="row" *ngIf="mostrarCriterio">
  <div class="col-5"><p></p></div>
  <div class="col-7 ">
    <div><audio src="{{audioInicial}}}" controls autoplay >
      <p>Tu navegador no implementa el elemento audio</p>
    </audio></div>
  </div>
</div>
<div class="row" *ngIf="mostrarCriterio">
  <div class="col-5">
    <div class="row"><p></p></div>

  </div>
  <div class="col-2">
    <button style="background: cornflowerblue ; width: 200px ; height: 50px " (click)="inicialrPreguntas()">Siguiente</button>
  </div>
</div>

<div class="row" *ngIf="mostrarPreguntas">
  <div class="col-4"></div>
  <div class="col-5">

    <div class="row">
      <div class="col-2"><p></p> </div>
      <div class="col-9"><h5>{{valor+1}}. {{preguntas[valor]}}</h5></div>

    </div>
    <div class="row">
      <div class="col-2"><p></p> </div>
      <div class="col-9">
        <div class="row"><audio src="{{audio[valor]}}" controls autoplay >
          <p>Tu navegador no implementa el elemento audio</p>
        </audio></div>
      </div>
    </div>
    <div class="row">
      <div class="col-2"><p></p> </div>
      <div class="col-9"><img src="{{imagenes[valor]}}" height="100%" width="100%"></div>

    </div>
  </div>

  <div class="col-4">

  </div>
</div>
<div class="row"><p></p></div>

<div class="row"*ngIf="mostrarPreguntas">
  <div class="col-4"></div>
  <div class="col-2"   ><button style="background: cornflowerblue ; width: 200px ; height: 50px "(click)="siguiente(8)" >Positivo</button></div>
  <div class="col-3"  ><button style="background: cornflowerblue ; width: 200px ; height: 50px " (click)="siguiente(0)">Negativo</button></div>

</div>

<div class="row">
  <div class="col-4"><p></p></div>
  <div class="col-3" *ngIf="mostrarRespuesta">
    <h3>Preguntas</h3>
    <ul>
      <li *ngFor="let preg of preguntas">
        {{ preg }}
      </li>
    </ul>
  </div>
  <div class="col-3" *ngIf="mostrarRespuesta">
    <h3>Respuestas</h3>
    <ul>
      <li *ngFor="let resp of respuesta">
        {{ resp }}
      </li>
    </ul>
  </div>
</div>
<div class="row" *ngIf="mostrarRespuesta"><p></p></div>
<div class="row" *ngIf="mostrarRespuesta"><p></p></div>
<div class="row" *ngIf="mostrarRespuesta"><p></p></div>
<div class="row" *ngIf="mostrarRespuesta"><p></p></div>
<div class="row" *ngIf="mostrarRespuesta">
  <div class="col-10"><p></p></div>
  <div class="col-2">
    <button style="background: cornflowerblue ; width: 200px ; height: 50px " [routerLink]="['/areaNueve']">Siguiente</button>
  </div>
</div>
