<div class="row">
  <div class="col-sm-12">
    <img src="imagenes/cabeceras/CabeceraArea13.png" style="height: auto;width: 100%" >
  </div>
</div>
<!--Diagnostico><!-->
<div class="row" *ngIf="parteUno">
  <div class="col-1"></div>
  <div class="col-10"style="border: solid black 1px">
    <p>{{queDiagnostica}}</p>
  </div>
</div>

<!--Parte Uno><!-->
<div class="row"  *ngIf="parteUno"><br></div>
<div class="row"  *ngIf="parteUno">
  <div class="col-1"><p></p></div>
  <div class="col-10" style="text-align: center; margin-left: auto; margin-right: auto;">
    <h3>{{numeroNivel+1}}. {{instruccion}}</h3>
  </div>
  <div class="col-1"><p></p></div>
</div>
<div class="row"  *ngIf="parteUno">
  <div class="col-1"><p></p></div>
  <div class="col-10" style="text-align: center; margin-left: auto; margin-right: auto;">
    <audio src="{{audio}}" controls autoplay >
      <p>Tu navegador no implementa el elemento audio</p>
    </audio>
  </div>
  <div class="col-1"><p></p></div>
</div>
<div class="row"  *ngIf="parteUno">
  <div class="col-1"><p></p></div>
  <div class="col-10">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9"><img src="imagenes/area13/primeraParte.png" style="width: 100% ; height: 100%"></div>
    </div>
  </div>
</div>

<div class="row"  *ngIf="parteUno">
  <div class="col-9"><p></p></div>
  <div class="col-2">
    <button style="background: cornflowerblue ; width: 100% ; height: 200% " (click)="iniciarUno()">Siguiente</button>
  </div>
</div>
<div class="row" *ngIf="mostrarUno"><br><br></div>
<div class="row"  *ngIf="mostrarUno">
  <div class="col-2"><p></p></div>
  <div class="col-8">
    <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>
        <img class="imagenes" src="{{timePeriod}}" style="height:100%;width:100%">
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="mostrarUno"><br><br></div>
<div class="row"  *ngIf="mostrarUno">
  <div class="col-10"><p></p></div>
  <div class="col-2">
    <button style="background: cornflowerblue ; width: 100% ; height: 200% " (click)="calificarUno()">Siguiente</button>
  </div>
</div>

<!--Parte Dos><!-->
<div class="row"  *ngIf="parteDos"><br></div>
<div class="row"  *ngIf="parteDos">
  <div class="col-1"><p></p></div>
  <div class="col-10" style="text-align: center; margin-left: auto; margin-right: auto;">
    <h3>{{numeroNivel+1}}. {{instruccion}}</h3>
  </div>
  <div class="col-1"><p></p></div>
</div>
<div class="row"  *ngIf="parteDos">
  <div class="col-1"><p></p></div>
  <div class="col-10" style="text-align: center; margin-left: auto; margin-right: auto;">
    <audio src="{{audio}}" controls autoplay >
      <p>Tu navegador no implementa el elemento audio</p>
    </audio>
  </div>
  <div class="col-1"><p></p></div>
</div>
<div class="row"  *ngIf="parteDos">
  <div class="col-10">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10"><img src="imagenes/area13/parteDos.png" style="width: 120% ; height: 100%"></div>
    </div>
  </div>
</div>
<div *ngIf="parteDos"><br><br></div>
<div class="row"  *ngIf="parteDos">
  <div class="col-9"><p></p></div>
  <div class="col-2">
    <button style="background: cornflowerblue ; width: 100% ; height: 200% " (click)="iniciarDos()">Siguiente</button>
  </div>
</div>

<div class="row" *ngIf="mostrarDos"><br><br></div>
<div class="row"  *ngIf="mostrarDos">
  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop1($event)">
    <div class="example-box" *ngFor="let timePeriod of timePeriods2" cdkDrag>
      <img class="imagenes" src="{{timePeriod}}" style="height:100%;width:100%">
    </div>
  </div>
</div>
<div class="row" *ngIf="mostrarDos"><br><br></div>
<div class="row"  *ngIf="mostrarDos">
  <div class="col-10"><p></p></div>
  <div class="col-2">
    <button style="background: cornflowerblue ; width: 100% ; height: 200% " (click)="calificarDos()">Siguiente</button>
  </div>
</div>

<!--Parte Tres><!-->
<div class="row"  *ngIf="parteTres"><br></div>
<div class="row"  *ngIf="parteTres">
  <div class="col-1"><p></p></div>
  <div class="col-10" style="text-align: center; margin-left: auto; margin-right: auto;">
    <h3>{{numeroNivel+1}}. {{instruccion}}</h3>
  </div>
  <div class="col-1"><p></p></div>
</div>
<div class="row"  *ngIf="parteTres">
  <div class="col-1"><p></p></div>
  <div class="col-10" style="text-align: center; margin-left: auto; margin-right: auto;">
    <audio src="{{audio}}" controls autoplay >
      <p>Tu navegador no implementa el elemento audio</p>
    </audio>
  </div>
  <div class="col-1"><p></p></div>
</div>
<div class="row"  *ngIf="parteTres">
  <div class="col-11">
    <div class="row">
      <div class="col-10"><img src="imagenes/area13/parteTres.png" style="width: 130% ; height: 120%"></div>
    </div>
  </div>
</div>
<div *ngIf="parteTres"><br><br></div>
<div class="row"  *ngIf="parteTres">
  <div class="col-9"><p></p></div>
  <div class="col-2">
    <button style="background: cornflowerblue ; width: 100% ; height: 200% " (click)="iniciarTres()">Siguiente</button>
  </div>
</div>

<div class="row" *ngIf="mostrarTres"><br><br></div>
<div class="row"  *ngIf="mostrarTres">
  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop2($event)">
    <div class="example-box" *ngFor="let timePeriod of timePeriods3" cdkDrag>
      <img class="imagenes3" src="{{timePeriod}}" style="height:100%;width:100%">
    </div>
  </div>
</div>
<div class="row" *ngIf="mostrarTres"><br><br></div>
<div class="row"  *ngIf="mostrarTres">
  <div class="col-10"><p></p></div>
  <div class="col-2">
    <button style="background: cornflowerblue ; width: 100% ; height: 200% " (click)="calificarTres()">Siguiente</button>
  </div>
</div>

<!--Resultados><!-->
<div class="row" *ngIf="mostrarResultado">
  <div class="col-1"></div>
  <div class="col-10">
    <h3>Resultado</h3>
  </div>
</div>
<div class="row" *ngIf="mostrarResultado">
  <div class="col-4"><p></p></div>
  <div class="col-4" style="text-align: center; margin-left: auto; margin-right: auto;">
    <h3>Niveles superados: {{numeroNivel}}</h3>
  </div>
  <div class="col-4"><p></p></div>
</div>
<div class="row" *ngIf="mostrarResultado"><br><br></div>
<div class="row" *ngIf="mostrarResultado">
  <div class="col-4"><p></p></div>
  <div class="col-4" style="text-align: center; margin-left: auto; margin-right: auto;">
    <h5>{{resultado1}}</h5>
  </div>
  <div class="col-4"><p></p></div>
</div>
<div class="row" *ngIf="mostrarResultado">
  <div class="col-10"><p></p></div>
  <div class="col-2">
    <button class="sa-btn" (click)="agregarRespuestaAreaTrece()">Siguiente</button>
  </div>
</div>
