.sa-bordes {
  border: 2px groove;
}

.sa-fondo {
  background: cornflowerblue;
}

.sa-btn {
  background: cornflowerblue;
  width: 100%;
  height: 100%;
}

.sa-img {
  height: auto;
  width: 100%;
}

input:invalid {
  border-color: tomato;
}

input:valid{
  border-color: cornflowerblue;
}

select:invalid{
  border-color: tomato;
  color: dimgray;
}

select:valid{
  border-color: cornflowerblue;
  color: dimgray;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 2.5vw;
}

h3 {
  font-size: 2.1vw;
}

h4 {
  font-size: 1.8vw;
}

h5 {
  font-size: 1.5vw;
}

p {
  font-size: 1.2vw;
}

span{
  font-size: 1.2vw;
  color: dimgray;
}

input{
  font-size: 1.2vw;
}

select{
  font-size: 1.2vw;
}
