<div class="row"><p></p></div>
<div class="row">
  <div class="col-3"></div>
  <div class="col-7 sa-bordes">
    <div class="row sa-bordes sa-fondo">
      <h5>Datos del Estudiante</h5></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <form #estudianteForm="ngForm" (ngSubmit)="guardar(estudianteForm)" novalidate>
      <div class="row">
        <div class="col-3">
          <label for="nombre">
            <h5>Nombre</h5>
          </label>
        </div>
        <div class="input-field col-9">
          <input id="nombre" type="text" pattern="[A-Za-zñÑáÁéÉíÍóÓúÚ ]{1,}" class="form-control input-sm"
                 title="Sólo ingresar letras" required placeholder="* Nombre estudiante"
                 name="nombreEstudiante" #nombreE="ngModel" [(ngModel)]="estServ.selecionarEstudiante.nombreEstudiante">
          <span *ngIf="nombreIncorrecto">Ingrese el nombre del estudiante</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3">
          <label>
            <h5>Año Lectivo</h5>
          </label>
        </div>
        <div class="col-9">
          <select class="form-control" title="Seleccionar una opción" style="width: 100%; max-width: 20vw;"
                  name="anioLectivo" #anioLectivoE="ngModel" [(ngModel)]="estServ.selecionarEstudiante.anioLectivo"
                  required>
            <option value='' selected>* Seleccionar</option>
            <option *ngFor="let anio of anioLectivo">{{anio}} - {{anio+1}}</option>
          </select>
          <span *ngIf="anioLectivoIncorrecto">Seleccione un año lectivo</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3">
          <label>
            <h5>Año de E.G.B</h5>
          </label>
        </div>
        <div class="col-9">
          <select class="form-control" title="Seleccionar una opción" style="width: 100%; max-width: 20vw;"
                  name="anioEGB" #cursoE="ngModel" [(ngModel)]="estServ.selecionarEstudiante.anioEGB"
                  required>
            <option value='' selected>* Seleccionar</option>
            <option *ngFor="let curso of anioEGB">{{curso}}</option>
          </select>
          <span *ngIf="cursoIncorrecto">Seleccione un año de EGB</span>
        </div>
      </div>
      <br *ngIf="mostrar">
      <div class="row" *ngIf="mostrar">
        <div class="col-3">
          <label>
            <h5>Paralelo</h5>
          </label>
        </div>
        <div class="col-9">
          <select class="form-control input-sm" title="Seleccionar una opción" style="width: 100%; max-width: 20vw;"
                  name="paralelo" #cursoE="ngModel" [(ngModel)]="estServ.selecionarEstudiante.paralelo" required>
            <option value="" selected>* Seleccionar</option>
            <option *ngFor="let curso of paralelo">{{curso}}</option>
          </select>
          <span *ngIf="paraleloIncorrecto">Seleccione un paralelo</span>
        </div>
        <!--<div class="input-field col-9">-->
        <!--<input type="text" pattern="[A-Z]{1}" class="form-control input-sm" style="width: 100%; max-width: 15vw;"-->
        <!--placeholder="X" MAXLENGTH=1 title="Sólo ingresar una letra mayúscula"-->
        <!--name="paralelo" #paraleloE="ngModel" [(ngModel)]="estServ.selecionarEstudiante.paralelo">-->
        <!--</div>-->
      </div>
      <br *ngIf="!mostrar">
      <br *ngIf="mostrar">
      <!--<div class="row">-->
      <!--<div class="col-3">-->
      <!--<label>-->
      <!--<h5>Fecha</h5>-->
      <!--</label>-->
      <!--</div>-->
      <!--<div class="col-9">-->
      <!--<input type="txt" class="form-control input-sm" style="width: 100%; max-width: 15vw;"-->
      <!--name="fecha" [(ngModel)]="estServ.selecionarEstudiante.fecha" >-->
      <!---->
      <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-3">
          <label>
            <h5>Evaluador</h5>
          </label>
        </div>
        <div class="input-field col-9">
          <input id="eval" type="text" class="form-control input-sm" style="width: 100%; max-width: 20vw;"
                 name="nombreEvaluador" #idEvaluador="ngModel" required placeholder="* Nombre psicóloga"
                 [(ngModel)]="estServ.selecionarEstudiante.nombreEvaluador">
          <span *ngIf="evaluadorIncorrecto">Ingrese el nombre de la psicóloga</span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-3">
          <label>
            <h5>NEE/AD</h5>
          </label>
        </div>
        <div class="col-1">
          <input (click)="check()" type="checkbox" style="height:80%;width: 80%; max-width: 15vw;" >
        </div>
      </div>
      <br>
      <div class="row" *ngIf="checkControlador">
        <div class="col-3">
          <label>
            <h5>Observaciones</h5>
          </label>
        </div>
        <div class="col-8">
          <textarea type="text" rows="2" class="form-control input-sm"
                    name="observacion" #observacion="ngModel"
                    [(ngModel)]="estServ.selecionarEstudiante.observacion"></textarea>
        </div>
      </div>
      <br><br>
      <div class="row">
        <br><br>
        <div class="col-9">
          <p style="color: tomato">* Campos obligatorios.</p>
        </div>
        <div class="col-3">
          <button class="sa-btn" href="#popup1"><p>Siguiente</p></button>
        </div>
      </div>
      <div class="row"><p></p></div>
    </form>
  </div>
  <div class="col-2"></div>
</div>
