<div class="row"><p></p></div>
<div class="row">
  <div class="col-5"></div>
  <div class="col-5"><img src="imagenes/logo1.png"></div>
</div>
<div class="row"><p></p></div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-4"> </div>
  <div class="col-5 sa-bordes">
    <div class="row sa-bordes sa-fondo"><h5>Datos del Estudiante</h5></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row">
      <div class="col-3">
        <h5>Nombre</h5>
      </div>
      <div class="col-9"><input type="text" style="width: 100%"></div>
    </div>
    <div class="row">
      <div class="col-3">
        <h5>Año de E.G.B</h5>
      </div>
      <div class="col-9"><input type="text" style="width: 60%"></div>
    </div>
    <div class="row">
      <div class="col-3">
        <h5>Paralelo</h5>
      </div>
      <div class="col-9"><input type="text" style="width: 60%"></div>
    </div>
    <div class="row">
      <div class="col-3">
        <h5>Fecha</h5>
      </div>
      <div class="col-9"><input type="text" style="width: 60%"></div>
    </div>
    <div class="row"> <p></p></div>
    <div class="row"> <p></p></div>
    <div class="row">
      <div class="col-10"></div>
      <div class="col-2"><button style="background: cornflowerblue" [routerLink]="['/areaUno']">Siguiente</button></div>
    </div>
    <div class="row"><p></p></div>
  </div>

</div>
