.sa-superior{
  background: cornflowerblue;
  border: black 2px groove;
}



.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('imagenes/estadisticas/2.png');
  background-size: cover;
}
.example-header-image2 {
  background-image: url('imagenes/estadisticas/3.png');
  background-size: cover;
}
.example-header-image3 {
  background-image: url('imagenes/estadisticas/4.png');
  background-size: cover;
}
